.example-form input
{
    position: absolute;
    display: block;
    width: 500px;
    top: 350px;
    left: 32%;
    
}
.example-form mat-icon
{
    position: absolute;
    display: block;
    
    top: 355px;
    left: 66%;
}